

$maxWidth: 1480;
@mixin fonsadaptive ($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

/* в h2 замінив 60 на 54 а 34 на 28  */
/* в р замінив 16 на 14 а 14 на 12  */

h1 {
  @include fonsadaptive (44, 25);
}

.name_h2 h2 {
  @include fonsadaptive (54, 28);
}

.carslider_h2 h2 {
  @include fonsadaptive (54, 28);
}

.contact-box h2 {
  @include fonsadaptive (54, 28);
}

.priceblock span {
  @include fonsadaptive (45, 18);
}

.main-text p {
  @include fonsadaptive (14, 12);
}

.why_we .why_we_block p {
  @include fonsadaptive (14, 12);
}

.why_usa .why_usa_block h3 {
    @include fonsadaptive (24, 18);
}

.aboutinfo p {
    @include fonsadaptive (14, 12);
}

.answer_block p {
  @include fonsadaptive (14, 12);
}

.reviews__user_text {
    @include fonsadaptive (14, 12);
}

.why_we .why_we_block h3 {
    @include fonsadaptive (24, 18);
}

.why_usa .why_usa_block p {
  @include fonsadaptive (14, 12)
}

.etap_adapt p {
  @include fonsadaptive (14, 12)
}


.mb_click {
  @include fonsadaptive (14, 12);
}

.row-etap-number p {
  @include fonsadaptive (14, 12)
}

.row-etap-number-r p {
  @include fonsadaptive (14, 12)
}

.why_we .why_we_block i {
  @include fonsadaptive (48, 36)
}

.why_usa .why_usa_block i {
  @include fonsadaptive (48, 36)
}

.swiper-slide .price .price_block span {
  @include fonsadaptive (11, 6)
}

.showicon h2 {
  @include fonsadaptive (36, 20)
}

.pagenews_h2 {
  @include fonsadaptive (54, 28);
}

.newsone-title h2 {
  @include fonsadaptive (36, 20);
}

.newsone-title a {
    @include fonsadaptive (36, 20);
}

.np-news_title i {
  @include fonsadaptive (20, 14);
}

.car_name {
  @include fonsadaptive (24, 16);
}

.car_price span {
  @include fonsadaptive (24, 16);
}

.car_price p {
  @include fonsadaptive (16, 10);
}

.carinfo-right_block h4 {
    @include fonsadaptive (20, 16);
}

.carinfo-right_block h4 span {
  @include fonsadaptive (12, 9);
}

.car-right_block__social i {
  @include fonsadaptive (52, 42);
}

.rmc_car__topline a {
  @include fonsadaptive (18, 14);
}

.car-here_icon i {
  @include fonsadaptive (32, 12);
}

.car-here_icon span {
  @include fonsadaptive (18, 12);
}

.rmc-car_price span {
  @include fonsadaptive (20, 14);
}

.rmc-car_price i {
  @include fonsadaptive (24, 14);
}
