

$maxWidth: 1480;
@mixin fonsadaptive ($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

/* в h2 замінив 60 на 54 а 34 на 28  */
/* в р замінив 16 на 14 а 14 на 12  */

h1 {
  @include fonsadaptive (44, 25);
}

.name_h2 h2 {
  @include fonsadaptive (54, 28);
}

.carslider_h2 h2 {
  @include fonsadaptive (54, 28);
}

.contact-box h2 {
  @include fonsadaptive (54, 28);
}

.priceblock span {
  @include fonsadaptive (45, 18);
}

.main-text p {
  @include fonsadaptive (14, 12);
}

.why_we .why_we_block p {
  @include fonsadaptive (14, 12);
}

.why_usa .why_usa_block h3 {
    @include fonsadaptive (24, 18);
}

.aboutinfo p {
    @include fonsadaptive (14, 12);
}

.answer_block p {
  @include fonsadaptive (14, 12);
}

.reviews__user_text {
    @include fonsadaptive (14, 12);
}

.why_we .why_we_block h3 {
    @include fonsadaptive (24, 18);
}

.why_usa .why_usa_block p {
  @include fonsadaptive (14, 12)
}

.etap_adapt p {
  @include fonsadaptive (14, 12)
}


.mb_click {
  @include fonsadaptive (14, 12);
}

.row-etap-number p {
  @include fonsadaptive (14, 12)
}

.row-etap-number-r p {
  @include fonsadaptive (14, 12)
}

.why_we .why_we_block i {
  @include fonsadaptive (48, 36)
}

.why_usa .why_usa_block i {
  @include fonsadaptive (48, 36)
}

.swiper-slide .price .price_block span {
  @include fonsadaptive (11, 6)
}

.showicon h2 {
  @include fonsadaptive (36, 20)
}
