


.availablepage {
  margin-top: 30px;
  margin-bottom: 30px;
}

.available-flex {
  display: flex;
  justify-content: space-between;
  gap:30px;
}

.left_sidebar {
  background-color: rgb(255 255 255 / 55%);
  max-width: 350px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  height: 100%;
  h4 {
    text-align: center;
    color: #393939;
    margin-top: 25px;
  }

  label {
    cursor: pointer;
    font-weight: 400;
    color: #393939;
    letter-spacing: 1.2px;
    line-height: 2;
    font-weight: 500;
    padding-left: 5px;
    opacity: 0.8;
  }

}


.right-mainblock {
  max-width: calc(100vw - 400px);
  width: 100%;

}

.right-mblock_car {
  display: none;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  padding: 10px;
  padding-bottom: 6px;
  margin-bottom: 30px;
}

.rmc__img {
  max-width: 320px;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

.right-mblock_car {
  display: flex;
  gap:15px;
  justify-content: space-between;

}

.rmc_car__topline {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-size: 18px;
    font-weight: 600px;
    color: #393939;
    transition: 0.3s;
  }

  a:hover {
    color: rgb(14,82,35);
    transition: 0.3s;
  }


}

.rmc_right {
  width: 100%;
}


.car-here_icon {
  display: flex;
  align-items: center;

  i {
    font-size: 32px;
    padding-right: 10px;
    color: rgb(14,82,35);
  }

  span {
    font-size: 18px;
    opacity: 0.8;
  }
}

.rmc_car__centerline {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  flex-wrap: wrap;
  gap: 20px 30px;



  i {
    font-size: 28px;
    padding-right: 10px;
    color: #7c7c7c;
  }

  span {
    font-weight: 500;
    opacity: 0.5;
  }
}


.rmc_info-item {
  display: flex;
  align-items: center;
  max-width: 130px;
  width: 100%;

}

.rmc-car_price {
  font-weight: 900;
  font-size: 12px;
  margin-top: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: #7c7c7c;
  }

  i {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 10px;
    color: rgb(14,82,35);
    opacity: 1;
  }

  span {
    margin-left: 0px;
    font-size: 20px;
    color: rgb(14,82,35);
    font-weight: 700;
  }

  a {

    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: #acacac;
    letter-spacing: 1.2px;
    border-radius: 5px;
    transition: .3s;
  }

  a:hover {
    background: rgb(14,82,35);
    color: #fff;
    transition: .3;
  }
}

.availablepage_filter__click {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    padding: 15px;
    width: 100%;
    background-color: #eaeaea;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #393939;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #7a7a7a;
    outline: none;
}

.yearblock-flex {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap:10px;

}

input[type="number"]:focus {

  border: 2px solid rgb(14,82,35);

}







@media screen and ( max-width: 1420px ) {
  .rmc_car__centerline {
    gap: 15px;
  }
}


@media screen and ( max-width: 1370px ) {
  .rmc_car__centerline {
    gap: 5px;
  }

  .rmc_info-item {
    max-width: 120px;
  }
}


@media screen and ( max-width: 1300px ) {
  .rmc-car_price {
    margin-top: 45px;
  }

}


@media screen and ( max-width: 1240px ) {
  .rmc-car_price {
    margin-top: 30px;
  }

}

@media screen and ( max-width: 1220px ) {
  .right-mainblock {
    max-width: calc(100vw - 300px);
  }

  .rmc-car_price {
    margin-top: 50px;
  }

  .left_sidebar {
    max-width: 250px;
  }
}

@media screen and ( max-width: 1130px ) {
  .rmc-car_price {
    margin-top: 30px;
  }

  .left_sidebar {
    max-width: 200px;
  }

  .right-mainblock {
    max-width: 100%;
  }

}


@media screen and ( max-width: 1180px ) {
  .rmc-car_price {
    margin-top: 10px;
  }
}

@media screen and ( max-width: 1060px ) {
  .rmc-car_price {
    flex-wrap: wrap;
  }

  .rmc_car__centerline i {
    font-size: 14px;
  }
}

@media screen and ( max-width: 1060px ) {
  .right-mblock_car {
    display: block;
    max-width: 48%;


  }

  .rmc__img {
    margin: auto;
    max-width: 420px;
    margin-bottom: 10px;
  }

  .right-mainblock {
    height: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .rmc-car_price a {
    width: 100%;
    text-align: center;
    margin-top: 10px;

  }
}


@media screen and ( max-width: 880px ) {
  .right-mainblock {
    display: block;

  }

  .right-mblock_car {
    max-width: 100%;
  }

  .rmc-car_price p {
    width: 100%;
    text-align: right;
  }
}


@media screen and ( max-width: 675px ) {
  .available-flex {
    gap: 10px;
  }


}


@media screen and ( max-width: 650px ) {
  .available-flex {
    gap: 10px;
    display: block;
  }

  .left_sidebar_resize {
    position: absolute;
    width: 100vw;
    transition: 0.3s;
    transform: scale(0);
  }

  .left_sidebar {
    transition: 0.3s;
    max-width: 100vw;
  }


  .availablepage_filter__click {
    display: block;
    max-width: 100px;
    font-weight: 500;
    margin-left: auto;
    margin-bottom: 10px;
    font-size: 18px;
    i {
      padding-left: 5px;
      color: rgb(14,82,35);
    }

    text-align: right;
  }




}
