footer {
  background-color: rgba(138, 151, 172, 0.15);
  padding-top: 20px;


  .footer_logo {
    align-items: center;
    display: flex;
  }
}

.footer_logo {

  span {
    display: block;
    font-size: 24px;
    font-weight: 900;
    padding-left: 15px;
    color: #393939;
    }
  img {
    max-height: 50px;
  }
}

.footer_slogan {
  line-height: 1.7;
    font-size: 16px;
    opacity: 0.7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_menu a {
  display: block;
  color: black;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  opacity: 0.7;
}

.footer_contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_form {
  p {
    line-height: 1.7;
    font-size: 16px;
    opacity: 0.7;
    padding-top: 5px;
  }

  h4 {
    font-size: 24px;
    font-weight: 900;
    color: #393939;
    padding-bottom: 20px;
  }

  input {
    border: none;
    border-radius: 10px;
    padding: 10px 25px 10px 15px;
    font-weight: 900;
    color: #393939;
    outline:none

  }

  button {
    padding: 10px 15px 10px 15px;
    font-weight: 900;
    font-size: 14px;
    border-radius: 10px;
    margin-left: -25px;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    transition: 0.3s;
    background-color: #888;
  }
}

.footer_social a {
  font-size: 20px;
  margin-right: 10px;
}

.fneed {
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 20px;
}

.footer_copy {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

  font-size: 16px;
  opacity: 0.7;
}
