.partnersslider {
  overflow: hidden;
  align-items: center;

}

.partners {
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;

  img {
    width: 100px;
  }
}

.partnersslider div {
  align-items: center;
}
