.reviews_info {
  opacity: 0.7;
  letter-spacing: 2.7px;
  font-size: 20px;
}

.reviews {

  margin-bottom: 20px;
}

.reviews_h2 h2 {
  max-width: 1400px;
  width: 100%;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.reviews_line {
  max-width: 100vw;
  width: 40%;
  height: 1px;
  background-color: #c0c0c0;
}

.reviews_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:10px;

}

.reviews_block {

  overflow: hidden;
  position: relative;
  margin-top: 40px;


  .swiper-slide {
    background-color: #fff;
    padding: 20px;
    letter-spacing: 1.7px;
  }
  .reviews__slider {
    max-width: 100%;
    padding-bottom: 40px;
    max-height: 300px;
    height: 100vh;

    p {
      opacity: 0.7;
      margin-bottom: 20px;
    }
  }
}

.reviews__user_img {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 20px;
}

.reviews__user_one {
  background-image: url('../img/user1.webp');
}

.reviews__user_two {
  background-image: url('../img/user2.webp');
}

.reviews__user_three {
  background-image: url('../img/user3.webp');
}

.review_arrow_l {
  transition: 0.3s;
}

.review_arrow_r {
  transition: 0.3s;
}


.review_arrow_l {
  padding: 20px;
  font-size: 20px;
  line-height: 10px;
  border: 1px solid;
  border-radius: 5px;
  background: linear-gradient(153deg, rgb(14, 82, 35) 26%, rgb(2, 36, 19) 87%);
  opacity: 0.7;
  color: #fff;
  transition: 0.3;
  cursor: pointer;
  margin-right: 0px;
}

.review_arrow_r {
  padding: 20px;
  font-size: 20px;
  line-height: 10px;
  border: 1px solid;
  border-radius: 5px;
  background: linear-gradient(153deg, rgb(14, 82, 35) 26%, rgb(2, 36, 19) 87%);
  opacity: 0.7;
  color: #fff;
  transition: 0.3;
  cursor: pointer;
  margin-left: 0px;

}

.review_arrow_l:hover {
  opacity: 1;
  transition: 0.3s;
}
.review_arrow_r:hover {
  opacity: 1;
  transition: 0.3s;
}

.swiper-pagination {

  .swiper-pagination-bullet-active {
    background: linear-gradient(153deg, rgb(14, 82, 35) 26%, rgb(2, 36, 19) 87%);
    opacity: 0.7;

  }
}

.review_rating {
  position: absolute;
  color: rgb(14, 82, 35);
}

.review_arrow {
  display: flex;
  gap:10px;
}

.reviews__user_text span {
  font-weight: 600;
}
